body{
    padding:60px;
}



.container{
    border:solid black;
    width:50%;
    height:25%;
    padding:250px;
    margin:0 auto;

}

.container:hover{
    border:solid blue;
}


.form-control{
    width: 65%;
}

h2{
    color:blue;
    font-weight: 700;
}

.current-btn #button-addon2{
    display:flex;
    gap:40px;
    border-radius: 8px;
}

.elements-group{
    position:fixed;
    top: 10px;;
    left:500px;
    bottom:30px;
    padding:55px;
}