body{
    padding:60px;
    margin:0 auto;
    
}



.elements-container{
    border:solid black;
    width:930px;
    height:23%;
    padding:250px;
    margin:0 auto;
    position: relative;
    right: 30px;
    border-radius:8px;
}

.elements-container:hover{
    border:solid blue;
}



h2{
    color:blue;
    font-weight:thin;
    font-size:24px;
}

.current-btn, #button-addon2{  
    border-radius: 8px;
}


.btn-success{
    width:95px;
    height:99%;
    font-size:15px;
    border-radius:8px;
}

.form-control{
    width: 35%;
    padding:10px;
}

.elements-group{
    position:fixed;
    top: -10px;;
    left:250px;
    bottom:30px;
    padding:100px;
    margin:0 auto;
}


.temp{
    position: relative;
    margin: 30px;
    top:10px;
    left:0;
    right:0;
    padding:20px;
    margin:20px;
    padding-bottom:-0 ;
    font-weight:bold;
    font-size:40px;
}

.degree{
    font-size:20px;
}
a:link{
    text-decoration:none ;
}
.weather-type{
    margin:0 auto;
}

.temp-city{
 padding: 65px; 
  margin:0 auto; 
  position: relative;
  top:-5px;
  left:0px;
  font-size:17px;
text-align:right;
display: block;
}



.city-info{
    font-weight:bold;
}

.weather-forecast{
    display: flex;
    flex-wrap: nowrap;
    margin:0 auto;
}
