body{
    padding:60px;
}



.container{
    border:solid black;
    width:50%;
    height:25%;
    padding:250px;
    margin:0 auto;

}

.container:hover{
    border:solid blue;
}


.form-control{
    width: 65%;
}

h2{
    color:blue;
    font-weight:thin;
    font-size:24px;
}

.current-btn, #button-addon2{  
    border-radius: 8px;
}

.elements-group{
    position:fixed;
    top: 10px;;
    left:500px;
    bottom:30px;
    padding:85px;
    margin:0 auto;
}

.temp{
    font-weight:bold;
    font-size:40px;
}

.temp{
    position: relative;
    margin: 30px;
    top:10px;
    left:0;
    right:0;
    padding-bottom:-0 ;
}

.degree{
    font-size:20px;
}

.weather-type{
    margin:0 auto;
}